<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alazarshenkute1.scheduler" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- ENTRY POINT -->
        <activity android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />  <!-- entry point of app -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SIGN UP PAGE ACTIVITY -->
        <activity android:name=".SignUp">

            <intent-filter>
                <action android:name="net.learn2develop.SignUp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- LOG IN PAGE ACTIVITY -->
        <activity android:name=".LogIn"
            android:label="@string/logInPage" >
            <intent-filter>
                <action android:name="net.learn2develop.LogIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- Upload Picture -->
        <activity android:name=".UploadPicture"
            android:label="@string/upLoadPicPage">
            <intent-filter>
                <action android:name="net.learn2develop.UploadPicture"/>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
    </application>

</manifest>
